<a href="https://colab.research.google.com/github/Krishnendu-Anil/MST_PYTHON_MAR-/blob/main/MST_python_Mar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice Problems Day 02

1.
Write a program to find sum of all elements in a list of integers.

In [1]:
listA = [1,2,3,4,5]
print(sum(listA))

15

2.
Input a sentence as a string.
a)
Print its length

In [2]:
str = ("I am Krishnendu Anil, new admission in Python Programming.")
print(len(str))

58

 b) Print the first half of string

In [3]:
str = ("I am Krishnendu Anil, new admission in Python Programming.")
print(len(str))
print(len(str)/2)

58
29.0

In [5]:
first_half = (str[:30])
print(first_half)

I am Krishnendu Anil, new admi

5.
Consider a string ”The day has been long”.
(a)
Delete the value at index =4

In [8]:
str = "The day has been long"
print(str[:4]+str[5:])

The ay has been long

(b)
Print the string 4 times in a single line with space between each repetition

In [10]:
str = "The day has been long"
print((str +' ')*4)

The day has been long The day has been long The day has been long The day has been long

(c)
Print the string 3 times in a new line each time

In [11]:
str = "The day has been long"
print("The day has been long \n" *3)

The day has been long
The day has been long
The day has been long

(d)
Modify the string at index 7 as ’A’

In [12]:
str = "The day has been long"
print(str[:7] + "A" + str[8:])

The dayAhas been long

(e)
Print the string from index 4 to 15

In [13]:
str = "The day has been long"
print(str[4:15])

day has bee

(f)
Print the final string with its length

In [14]:
print(len(str))

21

4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a)
Delete the first occurrence of 32

In [15]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

(b)
Delete all occurrences of 40

In [16]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
print(listA[:11])

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77]

(c)
Delete the value at index=5

In [17]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
del listA[5]
print(listA)

[19, 32, 10, 55, 31, 94, 29, 10, 65, 77, 40, 40]

(d)
Modify the value at index=9 as 300

In [19]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.insert(9,300)
print(listA)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 65, 77, 40, 40]

(e)
Add 200 at index=2

In [20]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.insert(2,200)
print(listA)

[19, 32, 200, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

(f)
Print the final list with its length, maximum value and sum of all elements

In [21]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
print(len(listA))
print(max(listA))
print(sum(listA))

13
94
534

3.
Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100